$white: #f5f5f5;
$primary: #222021;
$secondary: #1E0C06;
$beech: rgb(203 46 119 / 75%);
$blue: #728BAD;
$gray: #6A696B;
$romantic: #FFDBBB;
$periwinkleGray: #D5DCEE;
$black: #2B2A2C;
$modal: #00DBDE;
$darkblue: #0c0299;

$lash: #4124B3;
$link: #265391;

$btn:  #121212;
$pink: rgb(184, 14, 93);
$red: #ED3024;
$dpink: #c672db;

$radius: 42px;

$extraLarge-bp: 1200px;
$tablet-bp: 991px;
$medium-bp: 768px;
$mobile-bp: 575px;