.about {
    margin-top: 2rem;
    padding-top: 3rem;
    background: $black url("../images/b-1.jpg") center no-repeat;
    background-size: cover;

    @include breakpoint($tablet-bp) {
        padding-top: 1.2rem;
    }
}

.about__item {
    display: flex;
    width: 100%;
    position: relative;
}

.about__content {
    width: 50%;
    position: relative;
}

.about__inner {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 1;
}

.about__title {
    margin-bottom: 0.5rem;

    font-size: 6rem;
    color: $white;
    line-height: 1;
    font-weight: 500;

    @include breakpoint($tablet-bp) {
        margin-bottom: 0.4rem;
        font-size: 4rem;
    }

    @include breakpoint($medium-bp) {
        font-size: 2.8rem;
    }

    @include breakpoint($mobile-bp) {
        font-size: 1.7rem;
    }
}

.about__suptitle {
    font-size: 2rem;
    color: $white;
    font-weight: 400;

    position: absolute;
    top: 1.6rem;
    right: 2.3rem;
    z-index: 1;

    @include breakpoint($tablet-bp) {
        font-size: 1.4rem;
        top: 1rem;
    }

    @include breakpoint($medium-bp) {
        font-size: 1rem;
        top: 0.7rem;
    }

    @include breakpoint($mobile-bp) {
        font-size: 0.6rem;
        top: 0.5rem;
        right: 0.6rem;
    }
}

.about__text {
    padding-left: 3rem;
    font-size: 2rem;
    color: $white;
    font-weight: 400;

    @include breakpoint($tablet-bp) {
        font-size: 1.5rem;
    }

    @include breakpoint($medium-bp) {
        font-size: 1.1rem;
        padding-left: 1.8rem;
    }

    @include breakpoint($mobile-bp) {
        font-size: 0.7rem;
        padding-left: 1.2rem;
    }
}

.about__span {
    color: $dpink;
}

.about__photo {
    width: 50%;
}

.about__author {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

