<header class="header">
    <div class="container">
        <div class="header__item">
            <nav class="nav" id="nav">
                <a class="nav__link" href="https://drive.google.com/file/d/1yVT5sfXZwLw5nHMtXfaM-2isEem2v4Sc/view?usp=sharing" target="_blank">оферта</a>
                <a class="nav__link" href="https://forms.gle/vdzq465Wz3uQcx289" target="_blank">анкета предзаписи</a>
            </nav>

            <button class="burger" id="nav-toggle" type="button">
                <span class="burger__item" >Menu</span>
            </button>
        </div>
    </div>
</header>
