<div class="modal" id="modal-consultation">
    <div class="modal__content modal__content--consultation text-center">
        <button class="modal__close" type="button" data-close>
            <img class="modal__img" src="assets/images/c-1.svg" alt="">
        </button>

        <h1 class="modal__title">Консультация по продвижению</h1>
        <h4 class="modal__suptitle">в формате видеосозвона</h4>

        <div class="modal__text">
            <div class="modal__text-content">
                <ul class="modal__text-catalog" >
                    <li class="modal__text-list" >Разбор профиля и работа над ошибками. Ты узнаешь почему у тебя не покупают</li>
                    
                    <li class="modal__text-list" >Твой визуал. Я расскажу как создать продаваемые фото, которые "выстрелят" клиенту прямо в сердечко</li>

                    <li class="modal__text-list" >Ты поймешь, как себя позиционировать и выделяться среди конкурентов</li>

                    <li class="modal__text-list" >Ты узнаешь, как за 3 дня контента в сторис собрать заявки на твои услуги</li>

                    <li class="modal__text-list" >Я расскажу как наладить сервис, чтобы клиенты возвращались к тебе снова и снова</li>

                    <li class="modal__text-list" >Узнаешь кто твоя целевая аудитория и определим твои точки роста</li>

                    <li class="modal__text-list" >Научу правильно поднимать прайс, без потери постоянных клиентов</li>
                    
                </ul>
            </div>

            <h3 class="modal__text-title">Дополнительно</h3>

            <div class="modal__text-footer">
                <div class="modal__text-content">
                    <ul class="modal__text-catalog" >
                        <li class="modal__text-list" >Гайд " Упаковка продающего аккаунта бьютимастера "</li>

                        <li class="modal__text-list" >Гайд " 15 бесплатных инструментов для привлечения платёжеспособной аудитории "</li>

                        <li class="modal__text-list" >Обратная связь в Telegram в течение месяца</li>
                    </ul>
                </div>
            </div><!-- /.modal__text-footer -->
        </div><!-- /.modal__text -->
        <div class="space">
            <a href="https://api.whatsapp.com/send/?phone=79888925032&text&type=phone_number&app_absent=0" class="btn btn--rounded btn--lash" target="_blank">Узнать цену</a>
            <a href="https://forms.gle/vdzq465Wz3uQcx289" target="_blank" class="btn btn--rounded btn--lash" >Анкета предзаписи</a>
        </div>
        

    </div><!-- /.modal__content -->
</div>
