<div class="modal modal--group" id="modal-group">
    <div class="modal__content modal__content--group text-center">
        <button class="modal__close" type="button" data-close>
            <img class="modal__img" src="assets/images/c-1.svg" alt="">
        </button>

        <h1 class="modal__title">Групповое наставничество</h1>
        <h4 class="modal__suptitle">Стратегия того, как выйти<br> на доход 100к+/месяц</h4>

        <div class="modal__text">
            <div class="modal__text-content">
                <ul class="modal__text-catalog" >
                    <li class="modal__text-list" >Мастермаинд от 5 до 10 человек в группе</li>
                    
                    <li class="modal__text-list" >Еженедельные видеосозвоны с разбором каждого ученика</li>

                    <li class="modal__text-list" >Обратная связь от меня в чате Telegram</li>

                    <li class="modal__text-list" >6 видеоуроков и дополнительные материалы, для быстрого достижения результата</li>

                    <li class="modal__text-list" >Приглашенные спикеры</li>

                    <li class="modal__text-list" >Продолжительность обучения 6 недель</li>
                    
                </ul>
            </div>

        </div><!-- /.modal__text -->

        <div class="modal__footer">

            <div class="modal__footer-form">
                <input class="modal__footer-checkbox modal__input-group" type="checkbox" id="rules">
                <label class="modal__footer-label" for="rules">Я согласен(а) c <a class="modal__footer-link" href="https://drive.google.com/file/d/1dGtZ3_5yw_uErtbNPfx801BYpKHNjmMX/view?usp=sharing" target="_blank">политикой обработки персональных данных</a></label>
            </div>

            <div class="modal__footer-form">
                <input class="modal__footer-checkbox modal__input-group" type="checkbox" id="policy">
                <label class="modal__footer-label" for="policy">Я согласен(а) c <a class="modal__footer-link" href="https://drive.google.com/file/d/1wtrCwhAID1jyTnm4xpO-Knsixxn_DAcl/view?usp=sharing" target="_blank">обработкой моих персональных данных</a></label>
            </div>

        </div>
        <div class="space">
            <a href="https://api.whatsapp.com/send/?phone=79888925032&text&type=phone_number&app_absent=0" class="btn btn--rounded btn--lash btn--price" id="btnLashGroup" target="_blank">Узнать цену</a>
            <a class="btn btn--rounded btn--lash btn--price active btn--disabled" id="btnLashGroupDisabled">Узнать цену</a>
            <a href="https://forms.gle/vdzq465Wz3uQcx289" target="_blank" class="btn btn--rounded btn--lash" >Анкета предзаписи</a>
        </div>
        
    </div><!-- /.modal__content -->
</div>